<div id="<%= dom_id task %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Activity:</strong>
    <%= task.activity_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= task.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Due to:</strong>
    <%= task.due_to %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Completed at:</strong>
    <%= task.completed_at %>
  </div>
</div>
