<div id="<%= dom_id activity %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= activity.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= activity.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= activity.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= activity.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Period:</strong>
    <%= activity.period %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Activity type:</strong>
    <%= activity.activity_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Frequency:</strong>
    <%= activity.frequency %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Times per period:</strong>
    <%= activity.times_per_period %>
  </div>
</div>
